:root {
  --brand-success-color: #8daa91;
  --brand-main-color: #28112b;
  --brand-text-light: #f6e4f6;
  --brand-accent: #7d83ff;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
